<div class="container" style="margin-top:20px;">
  <div class="input-group mb-3">
    <input type="text" class="form-control" value="metallica" placeholder="Enter search song" #search>
    <div class="input-group-append">
      <button class="btn btn-outline-primary" (click)="doSearch(search.value)" type="button">Search</button>
    </div>
  </div>
</div>

<hr>

<div *ngIf="loading" class="text-center">
  <p>Loading..</p>
</div>

<div *ngIf="noResults" class="text-center">
  <p>No hay resultados para tu busqueda.</p>
</div>

<div class="container">
  <ul class="">
    <li class="" *ngFor="let track of songs.results">
      <a target="_blank" href="{{ track.link }}"> {{ track.name }} - {{ track.artist }} </a>
      <br>
      <p id="albumName"> {{ track.album }} </p>
      <img src="{{ track.thumbnail }}">
    </li>
  </ul>
</div>